#botonVerMas{
    background-color: #5466aebe ;
}


#contenedorPadre{
    padding-left: 10%;
}

body{
background-image: url(../images/fondo.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}

.white-text-paragraph {
    color: white;
}
